webForms/Seds.PMAS.QUADRIENAL.Negocio/Service References/PerfilService/PerfilService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://saa.homologacao.seds/PerfilService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Seds.Seguranca.Entidades" />
  <xs:import schemaLocation="http://saa.homologacao.seds/PerfilService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPerfisByAplicativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAplicativo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfisByAplicativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Seds.Seguranca.Entidades" minOccurs="0" name="GetPerfisByAplicativoResult" nillable="true" type="q1:ArrayOfPerfilInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociarUsuarioAoPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociarUsuarioAoPerfilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfisByUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfisByUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPerfisByUsuarioResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosByAplicativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAplicativo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosByAplicativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Seds.Seguranca.Entidades" minOccurs="0" name="GetUsuariosByAplicativoResult" nillable="true" type="q3:ArrayOfConsultaUsuarioCadUnicoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Seds.Seguranca.Entidades" minOccurs="0" name="GetUsuarioByIdResult" nillable="true" type="q4:UsuarioCadUnicoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosByAplicativoNomeRG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAplicativo" type="xs:int" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosByAplicativoNomeRGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Seds.Seguranca.Entidades" minOccurs="0" name="GetUsuariosByAplicativoNomeRGResult" nillable="true" type="q5:ArrayOfConsultaUsuarioCadUnicoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InativarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicativo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InativarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtivarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicativo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtivarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>